.containerHome {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--secondary-color);
  position: relative;
  margin-top: 3px;
}

.containerHome .textHome {
  width: 25%;
}

.h1logo {
  color: var(--primary-color);
}

.containerHome .imgHome {
  width: 25%;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: baseline;
}

.textHome h2,
.textHome p {
  color: white;
}
.textHome h1 {
  margin: 5px 0;
}
.textHome p {
  margin: 30px 0;
}

.fundoVideo {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 92vh;
  margin-top: -4px;
}

.fundoVideo .video {
  height: 100vh;
}
.fundoVideo::after {
  content: "";
  width: 100vw;
  background-color: #d5011d;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.containerContent {
  z-index: 45 !important;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  overflow: hidden;
  margin-top: -5px;
}

@media (max-width: 1000px) {
  .containerHome {
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  .containerHome .textHome {
    width: 80%;
  }

  .imgHome img {
    width: 200%;
    margin: 0 auto !important;
  }
  .containerContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 84vh;
    overflow: hidden !important;
  }
  .fundoVideo {
    height: 100vh;
  }
}
@media (max-width: 650px) {
  .imgHome img {
    width: 250%;
    margin: 0 auto !important;
  }
}
@media (max-width: 500px) {
  .imgHome img {
    width: 300%;
    margin: 0 auto !important;
  }
}
