.container {
  background-color: var(--secondary-color);
  width: 100%;
  min-height: 100vh;
}
.containerMapas {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.divMapa {
  border: 3px solid var(--primary-color);
  margin: 10px auto;
  color: white;
  padding: 20px;
  background-color: #555555;
  border-radius: 30px;
}

.nomeMapa {
  text-align: center;
}
.imagesMapas {
  position: relative;
}
.mapaAberto {
  z-index: 22;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.imgMapa {
  width: 555px;
  left: 0;
  right: 0;
  margin: auto;
}



@media (max-width: 1000px) {
  .containerMapas {
    margin-top: 40px;
  }

  .imgMapa {
    width: 100%;
  }
}
