.container {
  text-align: center;

  background-color: var(--secondary-color);
}

.container h1 {
  padding: 20px;
  color: white;
}
.containerAgentes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.divAgente {
  border: 3px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 30px;
  color: white;
}

.nameAgente::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  box-shadow: 1px 1px 100px var(--primary-color);
  box-shadow: 0px -2px 10px var(--primary-color);
}

.nameAgente {
  position: relative;
  height: fit-content;
  height: 3.5rem;
  margin: 10px;
}
.divAgente:hover > .nameAgente {
  color: var(--primary-color);
  transition: 0.5s;
}

.divAgente:hover > .nameAgente::after {
  width: 80%;
  margin: auto;
}

.Duelist {
  background-color: #555555;
}

.Initiator {
  background-color: #555555;
}

.Controller {
  background-color: #555555;
}

.Sentinel {
  background-color: #555555;
}

.imgAgente {
  width: 300px;
}

.divAgente {
  transition: transform 0.3s;
}

.divAgente:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.divAgente:hover > h1 {
  color: var(--primary-color);
}

.imgRole {
  width: 50px;
  margin: 10px;
  color: black;
}

/* Estilos do Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.nameAgenteModal {
  position: relative;
  width: min-content;
  height: auto;
  margin: auto;
}

.nameAgenteModal:after {
  content: " ";
  width: 80%;
  height: 2px;
  position: absolute;
  bottom: 20px;
  background-color: var(--primary-color);
  
  left: 0;
  right: 0;
  margin: auto;
}

.conteudoModal {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  position: relative;
}
.conteudoModal p {
  color: white;
}

.conteudoModal .nameAgenteModal {
  color: var(--primary-color);
}

.modalImg {
  width: 100%;
  max-width: 400px;
}

.btnFechar {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnFechar:hover {
  background-color: var(--primary-color);
}
