.containerRanks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  min-height: 100vh;
}

.divRanks {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: var(--third-color);
  color: #FFF;
  border-radius: 30px;
  flex-basis: 30%;
  box-sizing: border-box;
}

.nameRanks {
  margin: 20px 20px 40px 20px;
}

.imgRanks {
  width: 200px;
}



.red {
  color: var(--primary-color);
}

.divImgRanks
{
  background-color: var(--secondary-color);
  margin: 10px auto;
  height: 250px;
  width: 250px;
  border-radius: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textName {
  background-color: var(--secondary-color);
  width: fit-content;
  margin: 10px auto;
  height: 70px;
  border-radius: 20px;
}
  .textTier {
    font-size: 1.3rem;
    margin: 10px;
    background-color: var(--secondary-color);
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
  }
@media (max-width: 1000px) {
  .containerRanks {
    margin-top: 10px;
  }
 
  .divRanks {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .divRanks {
    flex-basis: 100%;
  }
}
